#character {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
#character .content {
  position: relative;
  text-align: center;
  width: 60%;
  height: 100%;
}

#character .character {
  height: 100%;
}
#character .character-image {
  height: 100%;
  filter: drop-shadow(rgb(255, 255, 255) 0px 0px 10px)
}

#character .bubble {
  width: 100%;
}
#character .bubble-image {
  width: 100%;
  position: absolute;
  display: block;
}
#character audio {
  display: none;
}